.not-found {
  .main-sec {
    padding-bottom: 150px;

    .main-bg {
      max-width: 50%;
    }

    .img-block {
      img {
        max-width: 75%;
        margin: 0 auto;
      }
    }
    .back-to-home {
      display: inline-block;
      text-decoration: none;
      border-radius: 100px;
      font-size: 16px;
      padding: 10px 36px;
      font-weight: 600;
      color: #fff;
      background: rgb(255, 76, 1);
      background-image: linear-gradient(to right, rgb(255, 98, 1) 0%, rgb(255, 44, 0) 51%, rgb(255, 98, 1) 100%);
      transition: 0.5s;
      background-size: 200% auto;
      box-shadow: 0px 10px 20px rgba(249, 70, 37, 0.61);
    }

    .floating-img-1 {
      position: absolute;
      bottom: 50px;
      animation: myOrbit 1s infinite alternate;
    }
  }
}

@keyframes myOrbit1 {
  from {
    transform: rotate(360deg) translateX(150px) rotate(-360deg);
  }
  to {
    transform: rotate(0deg) translateX(150px) rotate(0deg);
  }
}
@keyframes myOrbit2 {
  from {
    transform: rotate(0deg) translateX(150px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translateX(150px) rotate(-360deg);
  }
}
