.leadership {
  .title-default .title-pre {
    opacity: 0.6;
    font-size: 160px;
  }

  .main-sec {
    position: relative;

    .main-bg {
      position: absolute;
      top: 0;
      right: 0;
      z-index: -1;
    }

    .mainUser {
      padding: 50px 0;
    }

    .title-card {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .title-block {
        flex: 0 0 50%;
        max-width: 50%;
      }
      .cards-block {
        flex: 0 0 50%;
        max-width: 50%;
      }
    }
  }
  .leaders-block {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;

    .leaders-card {
      flex: 0 0 33%;
      max-width: 33%;
      margin-bottom: 50px;
      padding: 0 30px;
    }
  }
}
