.user-card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;

  .img-block {
    position: relative;
    .back-img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: -1;
    }
  }

  .text-block {
    margin-left: 25px;
    .name {
      .first-name,
      .last-name {
        display: block;
        font-weight: 800;
        font-size: 40px;
      }
    }
  }
}
