.tech-stack {
  .main-sec {
    .title-default .title-pre {
      font-size: 130px;
    }
  }
  .stack-section {
    padding-bottom: 0;

    .stack {
      .sub-title {
        font-weight: 600;
        margin-bottom: 20px;
      }
      .card-row {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
        margin-bottom: 50px;
      }
    }
  }

  .contact {
    .title-default .title-pre {
      color: red !important;
    }
  }
}
