.default-link {
  position: relative;
  text-decoration: none !important;
  font-weight: 700;
  font-family: Mont;
  cursor: pointer;
  font-size: 36px;
  color: #000;
  font-weight: 700;
  padding: 3px 20px;
  transition: all 0.3s;

  &:hover svg {
    position: absolute;
    stroke: #286fe5;
    stroke-width: 3px;
    stroke-dasharray: 100%, 0% 100% 0%;
    stroke-dashoffset: 7;
    transition: all 0.3s cubic-bezier(0, 0, 0, 0);
  }

  &:hover rect {
    stroke: #286fe5;
    stroke-width: 3px;
    stroke-dasharray: 100%, 0% 100% 0%;
    stroke-dashoffset: 7;
    transition: all 0.3s cubic-bezier(0, 0, 0, 0);
  }

  svg {
    height: 45px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;

    rect {
      fill: none;
      stroke: #000;
      stroke-width: 3;
      stroke-dasharray: 100%, 100% 0% 0%;
      transition: all 0.3s linear;
    }
  }
}
.default-btn {
  position: relative;
  text-decoration: none;
  font-weight: 700;
  font-family: Mont;
  cursor: pointer;
  font-size: 22px;
  color: #000;
  font-weight: 700;
  padding: 6px 20px;
  transition: all 0.3s;

  &:hover svg {
    position: absolute;
    stroke: #286fe5;
    stroke-width: 5px;
    stroke-dasharray: 100%, 0% 100% 0%;
    stroke-dashoffset: 7;
    transition: all 0.3s cubic-bezier(0, 0, 0, 0);
  }

  &:hover rect {
    stroke: #286fe5;
    stroke-width: 5px;
    stroke-dasharray: 100%, 0% 100% 0%;
    stroke-dashoffset: 7;
    transition: all 0.3s cubic-bezier(0, 0, 0, 0);
  }

  svg {
    height: 45px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;

    rect {
      fill: none;
      stroke: #000;
      stroke-width: 5;
      stroke-dasharray: 100%, 100% 0% 0%;
      transition: all 0.3s linear;
    }
  }
}

.play-btn {
  border: none;
  background: transparent;

  &:focus,
  &:active {
    outline: none;
  }

  span {
    display: block;
    width: 50px;
    height: 50px;
    background: #69b3ed;
    color: #fff;
    border-radius: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    i {
      position: relative;
      z-index: 2;
    }

    &:before,
    &:after {
      content: "";
      position: absolute;
      height: 50px;
      width: 50px;
      background: #69b3ed;
      border-radius: 50%;
      animation: slidein 1s infinite linear;
    }

    &:before {
      animation-delay: 0.5s;
    }
  }
}

@keyframes slidein {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(1.5);
    opacity: 0;
  }
}

@keyframes card-in {
  0% {
    opacity: 0;
    top: 100px;
  }
  100% {
    opacity: 1;
    top: 0px;
  }
}
