.business-application {
  .section-two {
    .title-default .title-pre {
      opacity: 0.6;
    }

    .sec-wrapper {
      padding-top: 75px;

      .img-block {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          width: 90%;
        }

        .background {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          z-index: -1;
        }
      }
    }
  }
}
