.tech-card {
  flex: 1;
  margin-right: 30px;
  margin-bottom: 30px;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.014), 0 6.7px 5.3px rgba(0, 0, 0, 0.028), 0 12.5px 10px rgba(0, 0, 0, 0.016),
    0 22.3px 17.9px rgba(0, 0, 0, 0.012);
  text-align: center;
  max-width: 175px;
  min-width: 175px;
  border: 1px solid #f5f5f5;

  .img-wrapper {
    padding: 20px 30px;

    img {
      max-width: 100%;
      height: 75px;
      width: 75px;
      margin: 0 auto;
    }
  }

  p {
    margin-bottom: 0.75rem;
    line-height: 35px;
    color: #505050;
  }
}
