.title-default {
  margin: 0;
  font-size: 50px;
  font-weight: 700;
  position: relative;
  margin-bottom: 50px;
  z-index: 3;

  .title-pre {
    content: attr(data-title);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    opacity: 0.3;
    font-size: 180px;
    font-weight: 700;
    opacity: 0.06;
    z-index: -1;
  }
}

.sub-title {
  font-weight: 700;
  font-size: 28px;
}
