.home {
  .btn-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 25px 0;

    .home-link {
      margin-right: 50px;
      text-decoration: none;
      font-weight: 700;
      font-family: Mont;
      cursor: pointer;
      font-size: 22px;
      color: #000;
      font-weight: 700;
      padding: 6px 20px;
      transition: all 0.3s;

      &:hover {
        color: #286fe5;
      }
    }
  }

  .video-wrapper {
    position: relative;

    video {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      height: 100%;
      object-fit: cover;
    }

    img {
      position: relative;
      object-fit: cover;
      width: 100%;
      z-index: 2;
    }

    .play-btn {
      position: absolute;
      top: 150px;
      right: 60px;
      z-index: 9;
    }
  }
}

.section-two {
  .slider-wrapper {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .slick-slide .slider-title {
      font-size: 24px;
      font-weight: 700;
      color: #ddd;
      width: fit-content !important;
      padding: 10px 0;
    }

    .slick-slide.slick-current .slider-title {
      color: #000;
      position: relative;

      &:before {
        content: "";
        position: absolute;
        top: 50%;
        right: -20px;
        height: 3px;
        width: 100px;
        background: #000;
        transform: translate(100%, -50%);
      }
    }

    @mixin arrow {
      position: absolute;
      border-radius: 50%;
      bottom: -100px;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all 0.3s;
    }

    .left-arrow {
      @include arrow;
      color: #4976c7;
      background: #fff;
      height: 40px;
      width: 40px;
      font-size: 1.25em;
      left: 42%;
      box-shadow: 0px 0px 45px -10px #000000c7;
      transform: translateY(-50%);
    }

    .left-arrow:hover {
      height: 50px;
      width: 50px;
    }

    .left-arrow:hover ~ .right-arrow {
      transform: translateY(-50%) scale(0.9);
      height: 40px;
      width: 40px;
    }

    .right-arrow {
      @include arrow;
      background: #4976c7;
      color: #fff;
      height: 50px;
      width: 50px;
      font-size: 1.5em;
      left: 50%;
      transform: translateY(-50%) scale(1);
    }
  }

  .detail-block {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    padding: 20px 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 600px;

    .background {
      position: absolute;
      left: -50px;
      top: 150px;
      opacity: 0.4;
    }
    .flying {
      position: absolute;
      top: -50px;
      right: 50px;
    }

    .title {
      color: #fff;
      position: relative;
      z-index: 3;
      font-size: 28px;
      font-weight: 600;
    }

    .para {
      color: #fff;
      position: relative;
      z-index: 3;
      font-weight: 300;
      line-height: 1.75;
      margin: 0;
    }
  }
}

// section three
.sec-three-parent {
  padding: 150px 50px 250px;
  background-repeat: no-repeat;

  .sec-three {
    .img-wrapper {
      img {
        max-width: 90%;
      }
    }

    .block {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      padding-left: 75px;

      .title-default {
        color: #fff;
        margin-bottom: 75px;
      }

      .title-default .title-pre {
        font-size: 180px;
        opacity: 0.3;
      }

      .para {
        color: #fff;
        padding-right: 20%;
        line-height: 1.85;
      }
    }
  }
}

// section four
.sec-four {
  .block {
    padding-left: 100px;
    margin-bottom: 50px;

    .title-default .title-pre {
      font-size: 180px;
    }

    .details {
      padding: 50px 0 0;
    }
  }
  .slider-wrapper {
    position: relative;

    .sec-four-left {
      display: none;
    }
    .sec-four-right {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translate(40%, -50%);
      height: 50px;
      width: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #39b4f4;
      font-size: 26px;
      border-radius: 50%;
      box-shadow: 0px 0px 45px -10px #000000c7;
      transition: all 0.3s;
      background: #fff;

      &:hover {
        color: #fff;
        background: #39b4f4;
        transform: translate(50%, -50%) scale(1.2);
      }
    }

    .slick-slide .slider-item {
      width: 90% !important;
      padding: 30px 15px;
      text-align: center;
      margin: 20px;
      outline: none;
      border: 1px solid #ddd;
      box-shadow: 0px 10px 15px 0px #286fe526;

      img {
        margin: 0 auto;
        border-radius: 50%;
        object-fit: cover;
      }
      .title {
        font-size: 32px;
        font-weight: 700;
        color: #286fe5;
        padding-top: 25px;
      }
    }
    .slick-slide.slick-current .slider-item {
      background: #39b4f4;

      .title {
        color: #fff;
      }
    }
  }

  .img-block {
    padding-left: 10%;
    text-align: center;

    img {
      max-width: 85%;
    }
  }
}

.home {
  .contact-form {
    padding: 0 75px;
  }
}
