.contact {
  margin: 50px 0;
  min-height: 750px;

  #background {
    width: 75%;
    position: absolute;
    top: 50%;
    left: 56%;
    transform: translate(-50%, -50%);
    z-index: -1;
  }

  .block {
    position: relative;

    .background {
      position: absolute;
      /* top: 50%; */
      left: 55%;
      transform: translateX(-50%);
      z-index: -1;
    }

    .for-ground {
      position: absolute;
      left: 175px;
      animation: contactAnimation 1s infinite alternate;
    }

    .form-block {
      width: 100%;
      padding: 11% 25% 0 37%;

      .desc {
        font-size: 30px;
        color: #fff;
        font-weight: 600;
        display: block;
        margin-bottom: 25px;
      }

      .name-input {
        width: 100%;
        background: transparent;
        border: 0px;
        color: #fff;
        border-bottom: 2px solid #00000038;
        font-size: 24px;
        padding: 10px 10px 10px 0px;

        &:focus,
        &:active {
          outline: none;
        }
      }
      .btn-box {
        text-align: right;
        margin-top: 25px;

        .next-btn {
          width: fit-content;
          border: none;
          color: #fff;
          background: transparent;
          font-size: 24px;
          padding: 10px 10px 10px 0px;
          text-align: right;

          &:focus,
          &:active {
            outline: none;
          }
        }
      }
    }
  }
}

@keyframes contactAnimation {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}
