@mixin arrow {
  position: absolute;
  top: calc(100% - 200px);
  transform: translateY(-100%);
  color: #fff;
  font-size: 28px;
  z-index: 2;
  cursor: pointer;
}

.home-slider {
  position: relative;

  .banner-block {
    position: relative;

    .banner-detail {
      position: absolute;
      width: 35%;
      top: 35%;
      left: 26%;
      transform: translate(-50%, -50%);

      .title {
        color: #fff;
        font-weight: 600;
        font-size: 60px;
        padding: 10px 0px;
      }

      .desc {
        font-size: 26px;
        color: #fff;
        line-height: 35px;
      }

      .more-info {
        color: #fff;
        text-decoration: none;
        font-size: 22px;
        font-weight: 700;

        i {
          margin-left: 10px;
        }
      }
    }

    .fg-img {
      position: absolute;
      top: 50%;
      right: -5%;
      transform: translate(-50%, -50%);

      &.fg-img-2 {
        right: -15%;
      }
      &.fg-img-3 {
        right: -20%;
        bottom: 32%;
        transform: translate(-50%, -50%) rotate(-5deg);

        img {
          max-width: 75%;
        }
      }

      img {
        max-width: 85%;
        margin-left: auto;
      }
    }
  }

  .left-arrow {
    @include arrow;
    position: absolute;
    left: 23%;
  }
  .right-arrow {
    @include arrow;
    left: 25%;
  }

  .count {
    position: absolute;
    bottom: 200px;
    left: 200px;
    color: #fff;
    font-size: 20px;
    width: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &:before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      width: 60%;
      height: 5px;
      background: #fff;
      border-radius: 100px;
      transform: translate(-45%, -50%);
    }

    .current {
      font-size: 20px;
      font-weight: 700;
      position: relative;

      &::before {
        content: attr(data-count);
        position: absolute;
        font-size: 60px;
        color: #fff;
        top: 50%;
        right: 0;
        transform: translate(0, -50%);
        opacity: 0.3;
      }
    }

    .total {
      font-size: 20px;
      font-weight: 700;
    }
  }

  .slider-strip {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}
