.cus-card {
  position: relative;
  margin-bottom: 50px;
  padding-left: 15px;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    height: 100%;
    width: 5px;
    transform: translate(-50%, -50%);
    background: #286fe5;
    border-radius: 100px;
  }

  .title {
    font-size: 18px;
    font-weight: 600;
    color: #6b6f75;
    opacity: 0.7;
    margin: 0px;
  }

  .sub {
    text-decoration: none;
    font-size: 20px;
    color: #000;
    font-weight: 600;
  }
}
