@font-face {
  font-family: "Mont";
  font-display: swap;
  src: url("./assets/fonts/Mont-Heavy.woff2") format("woff2"), url("./assets/fonts/Mont-Heavy.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Mont DEMO";
  font-display: swap;
  src: url("./assets/fonts/Mont-DEMOExtraLight.woff2") format("woff2"), url("./assets/fonts/Mont-DEMOExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Mont";
  font-display: swap;
  src: url("./assets/fonts/Mont-Light.woff2") format("woff2"), url("./assets/fonts/Mont-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Mont";
  font-display: swap;
  src: url("./assets/fonts/Mont-SemiBold.woff2") format("woff2"), url("./assets/fonts/Mont-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Mont Book";
  font-display: swap;
  src: url("./assets/fonts/Mont-Book.woff2") format("woff2"), url("./assets/fonts/Mont-Book.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Mont";
  font-display: swap;
  src: url("./assets/fonts/Mont-Black.woff2") format("woff2"), url("./assets/fonts/Mont-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Mont Hairline";
  font-display: swap;
  src: url("./assets/fonts/Mont-Hairline.woff2") format("woff2"), url("./assets/fonts/Mont-Hairline.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Mont";
  font-display: swap;
  src: url("./assets/fonts/Mont-Regular.woff2") format("woff2"), url("./assets/fonts/Mont-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Mont";
  font-display: swap;
  src: url("./assets/fonts/Mont-ExtraLight.woff2") format("woff2"), url("./assets/fonts/Mont-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Mont";
  font-display: swap;
  src: url("./assets/fonts/Mont-Bold.woff2") format("woff2"), url("./assets/fonts/Mont-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Mont DEMO";
  font-display: swap;
  src: url("./assets/fonts/Mont-DEMOHeavy.woff2") format("woff2"), url("./assets/fonts/Mont-DEMOHeavy.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Mont";
  font-display: swap;
  src: url("./assets/fonts/Mont-Thin.woff2") format("woff2"), url("./assets/fonts/Mont-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Mont !important;
}
video,
img {
  max-width: 100%;
  display: block;
}

p {
  font-size: 16px;
}

ul {
  list-style: none;
}

.main {
  position: relative;
}

.service-page {
  position: relative;

  .default-link svg {
    height: 55px;
  }

  .main-bg {
    position: absolute;
    top: 0;
    right: 0;
  }

  .title-block {
    width: 50%;

    .title-default {
      .title-pre {
        opacity: 0.6;
      }
    }
  }
  .img-block {
    position: absolute;
    top: 30%;
    right: 6%;
  }

  .para-block {
    padding: 100px 0 50px;
  }

  .default-link {
    font-weight: 300;
    display: inline-block;
  }
}
