header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  padding: 10px 75px;

  .menuwrapper {
    display: flex !important;
    justify-content: space-between;
    align-items: center;
  }
  .logo {
    width: 215px;
  }
}

.sub-menu {
  padding: 35px 30px 30px;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;

  .menu-img-left {
    position: absolute;
    left: 0;
    bottom: 0;
  }
  .menu-img-right {
    position: absolute;
    right: 0;
    top: 0;
  }

  .close-btn {
    position: absolute;
    right: 25px;
    top: 10px;
    height: 35px;
    width: 35px;
    min-width: 35px;
    color: #fff;
    border: 1px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    cursor: pointer;
  }

  .submenu-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    .menu-title {
      font-size: 30px;
      font-weight: 700;
      position: relative;
      color: #fff;
      margin: 0;
      min-width: 200px;

      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: -10px;
        height: 100%;
        width: 7px;
        background: #fff;
        transform: translate(-50%, -50%);
        border-radius: 100px;
      }
    }

    .submenu-list {
      margin: 0;
      padding-left: 50px;
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-wrap: wrap;

      .submenu-item {
        color: #fff;
        width: 100%;
        flex: 0 0 25%;
        max-width: 25%;
        margin: 0px 0 15px 0px;
        position: relative;

        &:before {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          height: 1px;
          width: 90%;
          background: #ffffff8a;
          transform: translate(0, -50%);
          border-radius: 100px;
        }

        a {
          color: #fff;
          font-size: 15px;
          padding-bottom: 12px;
          display: inline-block;
          text-decoration: none;
          position: relative;
          display: block;
          width: 90%;
          transition: all 0.3s;

          &:hover {
            transform: translateX(10px);
          }
        }
      }
    }
  }
}

.nav-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  .nav-link-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0rem 1rem;

    i {
      color: #fff;
    }
  }
  .nav-link {
    display: inline-block;
    color: #fff;
    font-size: 20px;
    position: relative;
    text-align: center;
    overflow: hidden;
    padding: 0;
    cursor: pointer;

    .name {
      transition: all 0.3s;
      margin-right: 5px;
      // transform: translateY(0);
    }

    &:hover .name {
      display: inline-block;
      transform: translateY(-100%);
    }

    &:before {
      content: attr(data-name);
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, 50%);
      width: 100%;
      transition: all 0.3s;
    }

    &:hover:before {
      transform: translate(-50%, -50%);
    }
  }
}
@media (max-width: 1200px) {
}
