footer {
  background-repeat: no-repeat;
  background-position: center center;
  .footer-sectoin {
    padding-bottom: 0;
    .footer-wrapper {
      display: flex;
      justify-content: flex-start;
      align-items: center;

      .block {
        flex: 0 0 25%;
        max-width: 25%;

        .img-wrapper {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;

          a {
            display: block;
            margin-bottom: 25px;

            img {
              max-width: 175px;
              min-width: 175px;
            }
          }
        }
      }

      .box {
        position: relative;

        .title {
          writing-mode: vertical-lr;
          transform: rotate(180deg);
          position: absolute;
          left: 0;
          top: -115px;
          margin: 0px;
          text-transform: uppercase;
          font-size: 14px;
          letter-spacing: 5px;
          opacity: 0.7;
          min-height: 115px;
          color: #666;
          margin-right: 15px;

          &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 50%;
            height: 80px;
            width: 2px;
            background: #666;
            transform: translate(-50%, -110%);
          }
        }
        .list {
          margin-left: 50px;
          a {
            text-decoration: none;
            display: inline-block;
            padding: 5px 30px 5px 0px;
            font-size: 14px;
            color: #000;
            text-transform: uppercase;
            transition: all 0.3s;

            &:hover {
              color: #1ca3dc;
              font-weight: 600;
              transform: translateX(5px);
            }
          }
        }
      }
    }
  }

  .copy-right {
    p {
      font-size: 14px;
    }
  }
}
